<h1 mat-dialog-title>{{ isEditing ? "Update" : "Create" }} hero</h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input
      matInput
      [(ngModel)]="data.hero.name"
      placeholder="Name"
      required
      type="text"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>

  <button
    *ngIf="!isEditing"
    color="primary"
    [disabled]="!data.hero.name"
    mat-button
    [mat-dialog-close]="data.hero"
    type="button"
  >
    Create
  </button>

  <button
    *ngIf="isEditing"
    color="primary"
    [disabled]="!data.hero.name"
    mat-button
    [mat-dialog-close]="data.hero"
    type="button"
  >
    Update
  </button>
</div>
