.container {
  margin: 20px;
}

.add-button {
  position: absolute;
  right: 30px;
  top: 69px;
}

.input-endpoint {
  width: 50%;
  padding: 20px;
}

.error-hint {
  color: red;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.spinner {
  padding-right: 10px;
}
